.productsWrapper{
    padding: 10px 0;
    width: 95%;
    max-width: 1240px;
    margin: auto;
}
.productsGrid{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 3rem;
}
.productCard{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 20rem;
    border: 1px solid #ded9d9;
    padding: 1.5rem;
    border-radius: 3px;
}
.productImg, .productImg>img{
    width: 100%;

}
.productImg>img{
    height: 20rem;
    object-fit: cover;
}
.productImg>img:hover{
    object-fit: contain;
}
.productCardDetails{
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
    border-top: 1px solid #ded9d9;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}
.productCardDetails>p{
    color: #DD0285;
}
.productsCardButtons>button{
    padding: 4px 0.5rem;
    font-size: 1rem;
    border: none;
    color: white;
    border-radius: 3px;
    cursor: pointer;
}
.productsCardButtons>button:first-child{
    background-color: #DD0285;
    margin-right: 1rem;
}
.productsCardButtons>button:last-child{
    background-color: #666666;
}
.productsCardButtons>button:hover{
    background-color: #bd0774;
}
.loading{
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    border: 5px solid #666666;
    margin: auto;
    border-top: 1px solid #bd0774;
    animation: rotate 0.5s infinite linear;
}
@keyframes rotate {
    100%{
        transform: rotate(360deg);
    }
}
@media screen and (max-width:1140px) {
    .productCard{
        width: 16rem;
    }
}
@media screen and (max-width:940px){
    .productsGrid{
        grid-template-columns: repeat(2, 1fr);
    }
    .productCard{
        width: 20rem;
    }
}
@media screen and (max-width: 740px) {
    .productCard{
        width: 16rem;
    }
}
@media screen and (max-width: 600px) {
    .productsGrid{
        display: block;
    }
    .productCard{
        width: 20rem;
        margin: auto;
    }
}
@media screen and (max-width:400px) {
    .productCard{
        width: 16rem;
    }
}